<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部落格</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="#" class="logo">個人部落格</a></h1>
            <ul>
                <li><a href="#">網頁首頁</a></li>
                <li><a href="#">文章列表</a></li>
                <li><a href="#">我的相冊</a></li>
                <li><a href="#">留言</a></li>
                <li><a href="#">關於我</a></li>
                <li><a href="#">發表文章</a></li>
            </ul>
            <div>
                <a class="login" href="#">登入</a>
                <a class="register" href="#">註冊</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="banner">
            <ul class="fader">
                <li class="slide">
                    <a href="#">
                        <img src="../static/images/banner01.jpg" alt="">
                        <span class="img_info">網頁製作5小時</span>
                    </a>
                </li>
                <div class="feder_controls">
                    <div class="page prev">&lsaquo;</div>
                    <div class="page next">&rsaquo;</div>
                    <ul class="pager_list">
                        <li></li>
                    </ul>
                </div>
            </ul>
            <ul class="toppic">
                <li>
                    <a  href="#">
                        <img class="last-child" src="../static/images/banner02.jpg" alt="">
                        <div>最大化升級，安裝版本</div>
                        <span class="text">python</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/images/banner03.jpg" alt="">
                        <div>好吃壽喜燒，飽到炸</div>
                        <span class="text">壽喜燒</span>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <footer></footer>

</body>
</html>